# === injected by flavours (light, text dark) ===
# Pakai foreground gelap biar jelas terbaca di background terang

# Default
background={{base00-hex}}cc
border-color={{base0B-hex}}ff
title-color={{base0B-hex}}ff
progress-bar-color={{base0B-hex}}ff
summary-color={{base06-hex}}ff   # lebih gelap
body-color={{base07-hex}}ff      # paling gelap

[low]
background={{base00-hex}}cc
title-color={{base0D-hex}}ff
summary-color={{base06-hex}}ff
body-color={{base07-hex}}ff

[normal]
background={{base00-hex}}cc
title-color={{base0B-hex}}ff
summary-color={{base06-hex}}ff
body-color={{base07-hex}}ff

[critical]
background={{base00-hex}}cc
title-color={{base0A-hex}}ff
summary-color={{base08-hex}}ff
body-color={{base07-hex}}ff

