* {
    /* =========================
     * Core colors
     * ========================= */
    background: #{{base00-hex}}E6;
    background-alt: #{{base01-hex}}E6;

    foreground: #{{base05-hex}};
    foreground-alt: #{{base04-hex}};

    accent: #{{base0D-hex}};
    accent-transparent: #{{base0D-hex}}E6;

    /* =========================
     * Rofi required globals
     * ========================= */
    background-color: transparent;
}

