* {
    /* =========================
     * Core colors
     * ========================= */
    background: #1d2021E6;
    background-alt: #282a36E6;

    foreground: #c5cdd9;
    foreground-alt: #8b92a8;

    accent: #7fbbb3;
    accent-transparent: #7fbbb3E6;

    /* =========================
     * Rofi required globals
     * ========================= */
    background-color: transparent;
}