* {
    /* =========================
     * Core colors
     * ========================= */
    background: #1f1f28E6;
    background-alt: #2a2a37E6;

    foreground: #dcd7ba;
    foreground-alt: #727169;

    accent: #7e9cd8;
    accent-transparent: #7e9cd8E6;

    /* =========================
     * Rofi required globals
     * ========================= */
    background-color: transparent;
}