# Root / background
rootcolor=0x{{base00-hex}}ff

# Border unfocused
bordercolor=0x{{base02-hex}}ff

# Focused window
focuscolor=0x{{base0D-hex}}ff

# Urgent
urgentcolor=0x{{base08-hex}}ff

# Maximized window
maximizescreencolor=0x{{base0D-hex}}ff
