!! Start flavours

!! Window colors
window.active.title.bg.color:   #{{base00-hex}}
window.inactive.title.bg.color: #{{base00-hex}}
window.active.label.text.color: #{{base05-hex}}
window.inactive.label.text.color:#{{base04-hex}}
window.active.border.color:     #{{base01-hex}}
window.inactive.border.color:   #{{base01-hex}}

!! Buttons (glyphs follow flavours)
# Minimize / Iconify = base0A
window.active.button.iconify.unpressed.image.color:          #{{base0A-hex}}
window.active.button.iconify.pressed.image.color:            #{{base0A-hex}}
window.active.button.iconify.hover.image.color:              #{{base0A-hex}}
window.active.button.iconify.toggled.unpressed.image.color:  #{{base0A-hex}}
window.active.button.iconify.toggled.pressed.image.color:    #{{base0A-hex}}
window.active.button.iconify.toggled.hover.image.color:      #{{base0A-hex}}
window.inactive.button.iconify.unpressed.image.color:        #{{base0A-hex}}
window.inactive.button.iconify.pressed.image.color:          #{{base0A-hex}}
window.inactive.button.iconify.hover.image.color:            #{{base0A-hex}}
window.inactive.button.iconify.toggled.unpressed.image.color:#{{base0A-hex}}
window.inactive.button.iconify.toggled.pressed.image.color:  #{{base0A-hex}}
window.inactive.button.iconify.toggled.hover.image.color:    #{{base0A-hex}}
window.active.button.iconify.disabled.image.color:           #{{base03-hex}}
window.inactive.button.iconify.disabled.image.color:         #{{base03-hex}}

# Maximize = base0B
window.active.button.max.unpressed.image.color:              #{{base0B-hex}}
window.active.button.max.pressed.image.color:                #{{base0B-hex}}
window.active.button.max.hover.image.color:                  #{{base0B-hex}}
window.active.button.max.toggled.unpressed.image.color:      #{{base0B-hex}}
window.active.button.max.toggled.pressed.image.color:        #{{base0B-hex}}
window.active.button.max.toggled.hover.image.color:          #{{base0B-hex}}
window.inactive.button.max.unpressed.image.color:            #{{base0B-hex}}
window.inactive.button.max.pressed.image.color:              #{{base0B-hex}}
window.inactive.button.max.hover.image.color:                #{{base0B-hex}}
window.inactive.button.max.toggled.unpressed.image.color:    #{{base0B-hex}}
window.inactive.button.max.toggled.pressed.image.color:      #{{base0B-hex}}
window.inactive.button.max.toggled.hover.image.color:        #{{base0B-hex}}
window.active.button.max.disabled.image.color:               #{{base03-hex}}
window.inactive.button.max.disabled.image.color:             #{{base03-hex}}

# Close = base08
window.active.button.close.unpressed.image.color:            #{{base08-hex}}
window.active.button.close.pressed.image.color:              #{{base08-hex}}
window.active.button.close.hover.image.color:                #{{base08-hex}}
window.active.button.close.toggled.unpressed.image.color:    #{{base08-hex}}
window.active.button.close.toggled.pressed.image.color:      #{{base08-hex}}
window.active.button.close.toggled.hover.image.color:        #{{base08-hex}}
window.inactive.button.close.unpressed.image.color:          #{{base08-hex}}
window.inactive.button.close.pressed.image.color:            #{{base08-hex}}
window.inactive.button.close.hover.image.color:              #{{base08-hex}}
window.inactive.button.close.toggled.unpressed.image.color:  #{{base08-hex}}
window.inactive.button.close.toggled.pressed.image.color:    #{{base08-hex}}
window.inactive.button.close.toggled.hover.image.color:      #{{base08-hex}}
window.active.button.close.disabled.image.color:             #{{base03-hex}}
window.inactive.button.close.disabled.image.color:           #{{base03-hex}}

# (opsional) menu button netral
window.active.button.menu.unpressed.image.color:             #{{base05-hex}}
window.active.button.menu.pressed.image.color:               #{{base05-hex}}
window.active.button.menu.hover.image.color:                 #{{base05-hex}}
window.inactive.button.menu.unpressed.image.color:           #{{base03-hex}}
window.inactive.button.menu.pressed.image.color:             #{{base03-hex}}
window.inactive.button.menu.hover.image.color:               #{{base03-hex}}
window.active.button.menu.disabled.image.color:              #{{base03-hex}}
window.inactive.button.menu.disabled.image.color:            #{{base03-hex}}

!! Menu colors
menu.items.bg.color:            #{{base00-hex}}
menu.items.text.color:          #{{base05-hex}}
menu.items.disabled.text.color: #{{base03-hex}}
menu.items.active.bg.color:     #{{base02-hex}}
menu.items.active.text.color:   #{{base05-hex}}
menu.separator.color:           #{{base01-hex}}
menu.border.color:              #{{base01-hex}}
menu.title.bg.color:            #{{base00-hex}}
menu.title.text.color:          #{{base05-hex}}

!! OSD colors
osd.border.color:               #{{base01-hex}}
osd.label.text.color:           #{{base05-hex}}
osd.bg.color:                   #{{base00-hex}}

!! End flavours

